@use "../../sass/colors" as *;
@use "../../sass/breakpoints" as *;
@use "../../sass/mixins" as *;

.section_1,
.section_2 {
  @include Section();
}

.section_1 {
  display: flex;
  flex-direction: column;
}

.title {
  @include SectionTitle();
}

.main_wrapper {
  position: relative;
  margin: 10px 0 5px;
  display: grid;
  gap: 5px;
  align-items: center;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.separator_horizontal {
  width: 90%;
  height: 1px;
  background-color: $gray-600;
  justify-self: center;
}

.separator_vertical {
  position: absolute;
  height: 95%;
  width: 1px;
  background-color: $gray-600;
  right: 40%;
  top: 50%;
  transform: translateY(-50%);
}

.subtitle {
  flex: 6;
  font-size: 0.85rem;
  font-weight: 400;
  text-align: center;
  align-self: center;
  color: $gray-700;
}

.sub_container {
  flex: 4;
  display: grid;
  place-content: center;
}

.primary_value_container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  svg {
    color: $pink-900;
  }
}

.primary_value {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  color: $pink-900;
}

.secondary_value_container {
  display: flex;
  width: 100%;
  gap: 5px;
  justify-content: center;
  align-items: center;
  span {
    font-size: 0.75rem;
    font-weight: 400;
    color: $gray;
  }
}

// ****************** //
// Calories OverView
// ****************** //
.calories_content {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.text_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 10px;
}
.text_item {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.label {
  font-weight: 600;
  flex: 1;
  text-align: right;
  font-size: 0.9rem;
}
.percentages {
  flex: 1;
  font-size: 0.9rem;
}

.pie_chart_wrapper {
  aspect-ratio: 1;
  height: 180px;
}

/// ***************************
/// BREAKPOINTS
/// ***************************

@media screen and (min-width: $breakpoint-laptop) {
  .main_wrapper {
    gap: 0;
  }
  .calories_content {
    flex-direction: row;
  }
  .text_container,
  .pie_chart_wrapper {
    flex: 1;
  }
  .pie_chart_wrapper {
    height: 200px;
  }

  .subtitle {
    font-size: 1.1rem;
  }
  .primary_value {
    font-size: 1.1rem;
  }
  .secondary_value_container span {
    font-size: 1rem;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .section_1 {
    flex: 0.5;
  }
  .section_2 {
    flex: 1;
  }
  .calories_content {
    flex-direction: column;
  }
}
