@use "../sass/colors" as *;
@use "../sass/breakpoints" as *;
@use "../sass/fonts" as *;

.navbar {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  background-color: $gray-900;
  bottom: 15px;
  left: 20px;
  right: 20px;
  padding: 15px 20px;
  border-radius: 25px;
  z-index: 1000;

  & button {
    all: unset;
    font-family: $font-inter, $font-fira-code, $font-roboto !important;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px 8px;
    border-radius: 15px;
    &:hover {
      cursor: pointer;
      background-color: #f7fafc1d;
    }
    div{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: $gray;
      font-weight: 400;
    }
  }
}

// .selector{
//   display: none;
// }

.selected{
  & div{
    font-weight: 600;
    color: white !important;
  }
}


/// ***************************
/// BREAKPOINTS
/// ***************************
@media screen and (min-width: $breakpoint-desktop) {
  .navbar{
    all: unset;
    position: fixed;
    width: 5rem;
    height: 100%;
    background-color: $gray-900;
    opacity: 0.8;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 0;
    & button{
      padding: 0;
      border-radius: 0;
      flex: 1;
      & div {
        display: flex;
        flex-direction: row;
        transform: rotate(-90deg);   
        & svg{
          transform: rotate(360deg);
        }   

      }
    }
  }
  
  .selector{
    height: 50vh;
    width: 8px;
    border-radius: 4px;
    background-color: $pink-900;
    position: absolute;
    left: calc(5rem - 4px);
    transition: 300ms;
  }

  .analytics{
    bottom: 0;
  }



}